.itemList {
  border: 1px solid black;
  float: left;
  margin: 5px;
  padding: 5px;
}

.category:hover {
  font-style: italic;
}

.category.active {
  font-weight: bold;
  color: blue;
}

.description {
  font-size: 80%;
  color: grey;
}
